/*#content{       
    background-color: white;
      padding:2%;
      position: center;     
      border-radius: 20px;                                    topo | direita | inferior | esquerda 
      margin-left: 27%;                                margin: 0,        0,        0,         0;    
      width: 69%;
      height: 90%;     
      font-size: 8%;
      display: content;
} */

.btnseta{
      width: 4%;
      height: 7%;
      margin-top: -15%;
      margin-left: 1%;
      background-color: #4B8DA5;
      font-size: 36px;
      color: #fff;
      border: none;
      border-radius: 9px;
}

img{
      margin-top: auto;
      margin-left: 22.5%;

}

.name{
      margin-top: 4%;
      margin-left: -10%;
      border-radius: 25px;
      border-style: double;
      border-color: rgb(134, 186, 235);
      width: 90%;
      height: 40%;
      font-family: Bahnschrift Light;
}

form{ 
      margin-left: 35%; 
      font-family: arial; 
      line-height:40px; 
      font-weight: bold; 
      width:500px; 
      height:130px;      
} 

.button{ 
      width: 40%;
      height: 35%;
      background: #4B8DA5;
      border-radius: 15px;
      margin-top: 5%;
      margin-left: 13%;
      border: none;
      font-family: Bahnschrift Light;
      font-size: -15%;
      color: #ffffff; 
} 

.btn_img{
      width: 45%;
      height: 170%;
      background: #f8f4f4; 
      border-radius: 15px;
      margin-top: -75%;
      margin-left: 90%;
      border-style: double;
      border-color: rgb(134, 186, 235);
      font-family: Bahnschrift Light;
      font-size: 20px;
      color: #746767; 
      cursor: not-allowed;       
}

.enter{
      font-family: Bahnschrift Light;
      font-size: 20px;
      color: #ffffff;
      text-decoration: none;
}
